{% extends "base.html" %}
{% block content %}
<div class="container">
    <canvas id="chart-area" width="150" height="150" /></canvas>
    <canvas id="chart-area1" width="150" height="150" /></canvas>
</div>
<script>
    var student_data = {
        labels: [
        {% for student in students %}
        "{{student.name}}",
        {% endfor %}
        ],
        datasets: [{
            data : [{% for student in students %}"{{student.age}}",{% endfor %}],
            backgroundColor: [{% for student in students %}"{{student.color}}",{% endfor %}],
            hoverBackgroundColor : [{% for student in students %}"{{student.highlight}}",{% endfor %}]
        }]
    };
    var data = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
        {
            label: "My First dataset",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [65, 59, 80, 81, 56, 55, 40],
            spanGaps: false,
        }
        ]
    };
    var options = {
        maintainAspectRatio: false,
        responsive: true
    };
    window.onload = function(){
        var ctx = document.getElementById("chart-area").getContext("2d");
        var myDoughnut = new Chart(ctx, {
            type : "doughnut",
            data : student_data ,
options:options
        });
        var ctx = document.getElementById("chart-area1").getContext("2d");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: data,
options:options
        });
    }

</script>
{% endblock %}
